<div class="app-shell">
  <header class="main-header">
    <div class="logo">BANCO <span>BNF</span></div>

    <nav class="main-nav">
      <a
        routerLink="/clientes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Clientes
      </a>

      <a routerLink="/cuentas" routerLinkActive="active">
        Cuentas
      </a>

      <a routerLink="/tarjetas" routerLinkActive="active">
        Tarjetas
      </a>

      <a routerLink="/prestamos" routerLinkActive="active">Préstamos</a>
      
      <a routerLink="/transacciones" routerLinkActive="active">Transacciones</a>

      <a routerLink="/servicios" routerLinkActive="active">Servicios</a>

      <a routerLink="/cajeros" routerLinkActive="active">Cajeros</a>

      <a routerLink="/login" routerLinkActive="active" class="btn-login">
      Ingresar
        </a>

    </nav>
  </header>

  <main class="main-content">
    <!-- Aquí Angular inyecta cada página -->
    <router-outlet></router-outlet>
  </main>
</div>
